<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <handlers>
   <add name="httpPlatformHandler" path="*" verb="*"  modules="httpPlatformHandler" resourceType="Unspecified" />
  </handlers>
  <httpPlatform stdoutLogEnabled="true"  stdoutLogFile="%HOME%\LogFiles\httpPlatformStdout.log"  processPath="%JAVA_HOME%\bin\java.exe"
arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\webapps\java-rest-api.jar&quot; --spring.config.location=&quot;%HOME%\site\wwwroot\webapps\application.properties&quot;">
  </httpPlatform>
 </system.webServer>
</configuration>
